@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|ZCOOL+QingKe+HuangYou');

* {
	margin:0;
	padding:0;
	color: #000000;
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	box-sizing: border-box;
}

.fn-font {
	font-family: 'Noto Sans KR', sans-serif;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	outline: none;
}

.profile {
	display: flex;
	margin: 0 10px 0 0;
}

.login-text {
	color: white;
	font-size: 20px;
	width: 100%;
	text-align: right;
}

#username {
	color: white;
	margin: auto 15px auto 0;
}

.board {
	background-color: #1C2659;
    width: 500px;
    height: 500px;
    border-radius: 12px;
    margin: 0px auto;
    box-shadow: 0px 0px 14px 3px rgb(0 0 0 / 50%);
    padding-top: 219px;
}

.board-text {
	color: #ffffff;
    margin: 0 0 50px;
    font-size: 25px;
}

.container {
	max-width: 1920px;
	width: 100%;
	margin:0 auto;
}

header {
	width:100%;
	height:80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #1C2659;
}

section * {
    font-family: 'Noto Sans KR', sans-serif;
}

section p, h3 {
    color: #ffffff;
}

article p {
    color: #000000;
}

header > h2 {
	margin-left:20px;
}

header > nav {
	width:600px;
	height:100%;
}

header ul {
	width:80%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}

header ul > li {
	font-size:30px;
	color: #ffffff;
	height: 100%;
	display: flex;
	align-items: center;
}

header a {
    color: #ffffff;
}

.column {
	float: left;
	width: 33.3%;
	margin-bottom: 16px;
	padding: 0 8px;
}